node_modules/
dist/
lib/
.next/
.expo/
out/
coverage/
*.log
.env
.env.*
!.env.example
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
functions/.runtimeconfig.json
apps/comercio/ios/
apps/comercio/android/
*.tsbuildinfo
next-env.d.ts
.secret.local
functions/.secret.local
